h1 {
	font-family: 'Cabin', sans-serif;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(220, 36, 31);
}
h2 {
	font-family: 'Cabin', sans-serif;
	margin: 0 auto;
	text-align: center;
	color: rgb(0, 25, 168);
}
h3 {
	font-family: 'Cabin', sans-serif;
	margin: 0 auto;
	text-align: center;
	color: rgb(0, 0, 0);
}
body {
	border: rgb(65, 75, 86);
}
.navbar {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0px;
    padding-top: 0px;
    width: 100%;
    text-align: center;
    background: rgb(255, 255, 255);
    font-family: 'Cabin', sans-serif;
}

.nav li a, .nav li {
        text-align: center;
        display: inline-block;
        min-width: 70px;
}
ul li a:hover {
  background: white;
  color: rgb(0, 114, 41);
}
img {
	position: absolute;
    top: 40px;
    left: 40px;
    height: 25%;
    width: 15%;
}
